.div-content{
	
	height:700px ;
	width: 100%;
	padding: 5px;
}
.input-top{
	width: 80% !important;
}
input{
	width: 30% !important;
}
.alert-top{
	width: 80%;
	height: 10%;
}
.alert{
	width: auto;
}
#chck{
	margin-top: 3px;
	margin-bottom: 8px;
}
#validation{
	float: left;
	width: 30%;
}
#customer-name{
	float: left;
	width: 30%;
}
.form{
	float: right;
	height: 700px;
	width: 70%;
}

select{
	width: 250px;
}

#delete-t-area{
	height: 250px;
	width:550px;
}
#button1{
	float:left;
}
.promo-table{
	width: 50%;
}
#percent{
	width: 25% !important;
	float: left;
}
.select-promo{
	float: left;
}
#logout{
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}
.report-input{
	width: 100% !important;
}
.report-table{
	line-height: 8;
	font-size: .8em;
	text-align: center;
}






