#div1{
	
	height:700px ;
	width: 100%;
	padding: 5px;
}
#div2{
	height:700px ;
	width: 100%;
}
#div3{
	
	height:700px ;
	width: 100%;
}
#div4{
	
	height:700px ;
	width: 100%;
}
input{
	width: 20% !important;
}
.alert{
	width: 22%;
	height: 10%;
}
#chck{
	margin-top: 3px;
	margin-bottom: 8px;
	background-color: #DFF0D8;
}
.form{
	float: right;
	height: 700px;
	width: 1000px;
}
.fillup{
	width: 20px;
}
select{
	width: 250px;
}
#area1{
	height: 100px;
	width: 250px;
}
#area2{
	height: 150px;
	width: 450px;
}