@font-face{font-family: "DK Blue Sheep";
  src:url("dk_blue_sheep/DK Blue Sheep.otf") format("opentype");}

body {
  font-family: "DK Blue Sheep" !important;
  font-size: larger;
}
p{
  padding-left: 15px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.col-sm-9{
  position: absolute!important;
  padding-top: 60px;
}

input{
  font-family: "DK Blue Sheep";
}
img{
  padding-left: 20px;
  padding-top: 80%;
}
.col-sm-3{
  background-color: rgba(52,141,35,.3) !important;
  position: fixed;
}
.navbar{
  background-color: rgba(52,141,35,.7) !important;
  }
a{
  color: black !important;
  }
#div1{
  height: 610px;
  width: 500px;
  background-color: red;
  margin-top: 10px;
}
#div2{
  height: 610px;
  width: 500px;
  background-color: red;
  margin-top: 10px;
}