<!DOCTYPE html>
<html>
<head>
	<title>lBanahaw Log-in</title>
	<link rel="stylesheet" type="text/css" href="../static/css/banahaw.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">


</head>
<body>
	<div id="background">

		      
    </div>
	   <div class="jumbotron">
        		<img id="logo" src="../static/img/banahaw.png"></br></br></br></br>
				<input class="input form-control" type="text" name="user" height="20" placeholder="username" required autofocus> </br>
				<input class="input form-control" type="password" name="password" placeholder="password" required></br>
				<button type="button" class="btn btn-lg btn-success">LOG IN</button>
			 
				<div id="error">
							
				</div>

		</div>	
		



<script src="../static/js/jquery-3.1.1.js"></script>
<script>
$(document).ready(function(){
var header = $('#background');

var backgrounds = new Array(
    'url("../static/img/background.jpg")'
  , 'url("../static/img/background2.jpg")'
  , 'url("../static/img/background3.jpg")'
  , 'url("../static/img/background4.jpg")'  
);

var current = 0;

function nextBackground() {
    current++;
    current = current % backgrounds.length;
    header.css('background-image', backgrounds[current]);
}
setInterval(nextBackground, 5000);

header.css('background-image', backgrounds[0]);
});
</script>


</body>
</html>