<!DOCTYPE html>
<html>
<head>
<link href="../static/css/content.css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<title></title>
</head>
<body>

<div id="div1">
	<div class="form">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><input class="fillup" type="text" name="" size="60"></td>
                  
                </tr>
                <tr>
                  <td>Branch</td>
                  <td></td>
                  <td><input class="fillup" type="text" name=""  size="60"></td>
                  
                </tr>
                <tr>
                  <td>Time/Date</td>
                  <td></td>
                  <td><input class="fillup" type="datetime-local" name=""  size="60"></td>
                  
                </tr>
                <tr>
                  <td>Regular Services</td>
                  <td></td>
                  <td><select>
                  	 <option value="">.....</option>
                  	 <option value="">Relaxing Swedish Massage</option>
  					 <option value="">5-in-1 Signature Massage</option>
  					 <option value="">Hot Stone Massage</option>
  					 <option value="">Shiatsu Massage</option>
                  </select></td>
                  
                </tr>
                <tr>
                  <td>Add-ons</td>
                  <td></td>
                  <td><select>
                  	<option value="">.....</option>
                  	<option value="">Netibo Healing</option>
                  	<option value="">Ventusa Therapy</option>
                  	<option value="">Cranio Sacral</option>
                  	<option value="">Turtlewalk Massage</option>
                  	<option value="">Steam Bath</option>
                  	<option value="">Ear Candling</option>
                  	<option value="">Ear Massage</option>
                  	<option value="">Back Massage</option>
                  	<option value="">Head Massage</option>
                  	<option value="">Foot Scrub</option>
                  	<option value="">Foot Reflex</option>
                  	<option value="">Hand Scrub</option>
                  	<option value="">Hand Reflex</option>
                  	<option value="">Hot Stone Foot Reflex</option>
                  	<option value="">Lower Extermeties Massage</option>
                  	<option value="">Hair spa</option>
                  	<option value="">Body Scrub</option>

                  </select></td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><textarea></textarea></td>
                  
                </tr>
                <tr>
                  <td>Name of Attendant</td>
                  <td></td>
                  <td><select>
                  	<option value="">.....</option>
                  </select></td>
                  
                </tr>
                
                
                
              </tbody>
            </table>
          </div>

	</div>
	


	<div>
		<input class="input form-control" type="text" name="" placeholder="Member Name :" autofocus="true"> 
		<input class="input form-control" type="submit" name="" value="Check" id="chck">
	
		<div class="alert alert-success" role="alert">
        	<strong>Checking Successful!</strong><img src="../static/img/check.png">
   		</div>
    	<div class="alert alert-danger" role="alert">
        	<strong>Not A Member! Please try again</strong><img src="../static/img/x.png">
    	</div>
    </div>
    
 </div>

<p id="member2">2</p>
<br><br>
<div id="div2">
</div>

<p id="member3">3</p>
<br><br>
<div id="div3">

</div>




</body>
</html>