<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href="../static/css/content.css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<link href='../static/css/fullcalendar.min.css' rel='stylesheet' />
<link href='../static/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />

	<title></title>
</head>
<body>

<p id="members"></p>
<br><br>
<div class="div-content">

	<div id="validation">
		<input class="input-top form-control" type="text" name="" placeholder="Member Name :" autofocus="true"> 
		<input class="input-top form-control" type="submit" name="" value="Check" id="chck">
	
		<div class="alert alert-success alert-top" role="alert">
        	<strong>Checking Successful!</strong><img src="../static/img/check.png">
   		</div>
    	<div class="alert alert-danger alert-top" role="alert">
        	<strong>Not A Member! Please try again</strong><img src="../static/img/x.png">
    	</div>
    </div>

	<div class="form">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name=""></td>
                  
                </tr>
                <tr>
                  <td>Branch</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name=""></td>
                  
                </tr>
                <tr>
                  <td>Time/Date</td>
                  <td></td>
                  <td><input class="input form-control" type="datetime-local" name=""  size="60"></td>
                  
                </tr>
                <tr>
                  <td>Regular Services</td>
                  <td></td>
                  <td><select class="input form-control">
                  	 <option value="">.....</option>
                  	 <option value="">Relaxing Swedish Massage</option>
  					 <option value="">5-in-1 Signature Massage</option>
  					 <option value="">Hot Stone Massage</option>
  					 <option value="">Shiatsu Massage</option>
                  </select></td>
                  
                </tr>
                <tr>
                  <td>Healing Packages</td>
                  <td></td>
                  <td><select class="input form-control">
                  	 <option value="">.....</option>
                  	 <option value="">Relaxing Swedish Massage</option>
  					 <option value="">5-in-1 Signature Massage</option>
  					 <option value="">Hot Stone Massage</option>
  					 <option value="">Shiatsu Massage</option>
                  </select></td>
                  
                </tr>
                <tr>
                  <td>Add-ons</td>
                  <td></td>
                  <td><select class="input form-control">
                  	<option value="">.....</option>
                  	<option value="">Netibo Healing</option>
                  	<option value="">Ventusa Therapy</option>
                  	<option value="">Cranio Sacral</option>
                  	<option value="">Turtlewalk Massage</option>
                  	<option value="">Steam Bath</option>
                  	<option value="">Ear Candling</option>
                  	<option value="">Ear Massage</option>
                  	<option value="">Back Massage</option>
                  	<option value="">Head Massage</option>
                  	<option value="">Foot Scrub</option>
                  	<option value="">Foot Reflex</option>
                  	<option value="">Hand Scrub</option>
                  	<option value="">Hand Reflex</option>
                  	<option value="">Hot Stone Foot Reflex</option>
                  	<option value="">Lower Extermeties Massage</option>
                  	<option value="">Hair spa</option>
                  	<option value="">Body Scrub</option>

                  </select></td>
                  
                </tr>
                
                <tr>
                  <td>Name of Attendant</td>
                  <td></td>
                  <td><select class="input form-control">
                  	<option value="">.....</option>
                  </select></td>
                  
                </tr>
                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" type="submit" name="" value="Confirm"><input class="input form-control" type="submit" name="" value="Cancel"></td>
                  
                </tr>
                
                
              </tbody>
            </table>
          </div>

	</div>
</div>

<p id="nonmember">2</p>
<br><br>
<div class="div-content">

		<div id="customer-name">
			<input class="input-top form-control" type="text" name="" placeholder="Customer Name :" autofocus="true"> 
		</div>

		<div class="form">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name=""></td>
                  
                </tr>
                <tr>
                  <td>Branch</td>
                  <td></td>
                  <td><input class="input form-control" type="text" name=""></td>
                  
                </tr>
                <tr>
                  <td>Time/Date</td>
                  <td></td>
                  <td><input class="input form-control" type="datetime-local" name=""  size="60"></td>
                  
                </tr>
                <tr>
                  <td>Regular Services</td>
                  <td></td>
                  <td><select class="input form-control">
                  	 <option value="">.....</option>
                  	 <option value="">Relaxing Swedish Massage</option>
  					 <option value="">5-in-1 Signature Massage</option>
  					 <option value="">Hot Stone Massage</option>
  					 <option value="">Shiatsu Massage</option>
                  </select></td>
                  
                </tr>
                <tr>
                  <td>Healing Packages</td>
                  <td></td>
                  <td><select class="input form-control">
                  	 <option value="">.....</option>
                  	 <option value="">Relaxing Swedish Massage</option>
  					 <option value="">5-in-1 Signature Massage</option>
  					 <option value="">Hot Stone Massage</option>
  					 <option value="">Shiatsu Massage</option>
                  </select></td>
                  
                </tr>
                <tr>
                  <td>Add-ons</td>
                  <td></td>
                  <td><select class="input form-control">
                  	<option value="">.....</option>
                  	<option value="">Netibo Healing</option>
                  	<option value="">Ventusa Therapy</option>
                  	<option value="">Cranio Sacral</option>
                  	<option value="">Turtlewalk Massage</option>
                  	<option value="">Steam Bath</option>
                  	<option value="">Ear Candling</option>
                  	<option value="">Ear Massage</option>
                  	<option value="">Back Massage</option>
                  	<option value="">Head Massage</option>
                  	<option value="">Foot Scrub</option>
                  	<option value="">Foot Reflex</option>
                  	<option value="">Hand Scrub</option>
                  	<option value="">Hand Reflex</option>
                  	<option value="">Hot Stone Foot Reflex</option>
                  	<option value="">Lower Extermeties Massage</option>
                  	<option value="">Hair spa</option>
                  	<option value="">Body Scrub</option>

                  </select></td>
                  
                </tr>
                
                <tr>
                  <td>Name of Attendant</td>
                  <td></td>
                  <td><select class="input form-control">
                  	<option value="">.....</option>
                  </select></td>
                  
                </tr>
                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control"type="submit" name="" value="Confirm"><input class="input form-control" type="submit" name="" value="Cancel"></td>
                  
                </tr>
                
                
              </tbody>
            </table>
          </div>

		</div>
</div>


<p id="addmember">3</p>
<br><br>
<div class="div-content">
	<div class="form2">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Type</td>
                  <td></td>
                  <td><select class="input form-control">
                  	<option>Personalized</option>
                  	<option>Family</option>
                  </select></td>
                  
                </tr>
                <tr>
                  <td>Branch</td>
                  <td></td>
                  <td><select class="input form-control"></select></td>
                  
                </tr>
                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><input class="input form-control" class="fillup" type="text" name="" ></td>
                  
                </tr>
                <tr>
                  <td>Sub-Member</td>
                  <td></td>
                  <td><input class="input form-control" class="fillup" type="text" name=""  size="60"></td>
                  
                </tr>
                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" class="fillup" type="text" name=""  size="60"></td>
                  
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" class="fillup" type="text" name=""  size="60"></td>
                  
                </tr>
                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" class="fillup" type="text" name=""  size="60"></td>
                  
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" class="fillup" type="text" name=""  size="60"></td>
                  
                </tr>

                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" type="submit" name="" value="Confirm"><input class="input form-control" type="submit" name="" value="Cancel"></td>
                  
                </tr>
                
                
              </tbody>
            </table>
          </div>

	</div>
</div>



<p id="deletemember">4</p>
<br><br>
<div class="div-content">
	<div class="form2">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Name</td>
                  <td></td>
                  <td><select class="input form-control"></select></td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><textarea class="input form-control" id="delete-t-area"></textarea></td>
                  
                </tr>
                
                
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="input form-control" type="submit" name="" value="Delete"><input class="input form-control" type="submit" name="" value="Cancel"></td>
                  
                </tr>
                <tr>
                	<td></td>
                	<td></td>
                	<td><div class="alert alert-success" role="alert">
        			<strong>Delete Successful!</strong><img src="../static/img/check.png">
   					</div></td>
                </tr>
                
              </tbody>
            </table>
            
          </div>

	</div>
	</div>

	
<p id="user">5</p>
<br><br>
<div class="div-content">
	<ul class="tab">
		<li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'add')" id="defaultOpen">Add</a></li>
  		<li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'delete')">Delete</a></li>
	</ul>
	<div id="delete" class="form3 tabcontent">
		<div class="table-responsive">
            <table class="table table-striped"">
              
              <tbody>
              	
              	<tr>
                  <td colspan="3">Delete User</td> 
                </tr>
                
                <tr>
                  <td>Name</td>
                  <td colspan="3"><input class="input form-control" type="text" name=""></td>
                </tr>
                
                <tr>
                  <td>Branch</td>
                  <td colspan="3"><input class="input form-control" type="text" name=""></td>
                </tr>
                
                
                <tr>
                  <td></td>
                  
                  <td colspan="3"><input id="button1" class="input form-control" type="submit" name="" value="Delete"><input class="input form-control" type="submit" name="" value="Cancel"></td>
                  </tr>
                
                <tr>
                	<td></td>
                  	
                	<td><div class="alert alert-success" role="alert">
        			<strong>Delete Successful!</strong><img src="../static/img/check.png">
   					</div></td>
   					
                </tr>
                
              </tbody>
            </table>
            
          </div>
        </div>
    <div id="add" class="form3 tabcontent">
		<div class="table-responsive">
            <table class="table table-striped">
              
              <tbody>
              	<tr>
                  <td colspan="3">Add User</td> 
                </tr>
                
                <tr>
                  <td>Username</td>
                  <td colspan="4"><input class="input form-control" type="text" name=""></td>
                </tr>
                
                <tr>
                  <td>Password</td>
                  <td colspan="3"><input class="input form-control" type="text" name=""></td>
                </tr>
                
                <tr>
                  <td>Re-Type Pass</td>
              	  <td colspan="3"><input class="input form-control" type="text" name=""></td>
                </tr>
               
                
                <tr>
                  <td></td>
                  
                  <td colspan="3"><input id="button1" class="input2 form-control" type="submit" name="" value="Save"><input  class="input2 form-control" type="submit" name="" value="Cancel"></td>
                  </tr>
                
                <tr>
                	<td></td>
                	<td><div class="alert alert-success" role="alert">
        			<strong>Add Successful!</strong><img src="../static/img/check.png">
   					</div></td>
                </tr>
                
              </tbody>
            </table>
            
        </div>
	</div>
</div>
	
<p id="promo">6</p>
<br><br>
<div class="div-content">
	<div class="form2">
		<div class="table-responsive promo-table">
            <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Date</td>
                  <td></td>
                  <td><input class="input form-control" type="datetime-local" name=""></td>
                  
                </tr>
                <tr>
                  <td>Regular Services</td>
                  <td></td>
                  <td><select class="input form-control select-promo"></select></td>
                  <td><input class="input form-control" id="percent" type="text" name="">%</td>
                  
                </tr>
                <tr>
                  <td>Add-ons</td>
                  <td></td>
                  <td><select class="input form-control select-promo"></select></td>
                  <td><input class="input form-control" id="percent" type="text" name="">%</td>
                  
                </tr>
                
                <tr>
                  <td>Healing Packages</td>
                  <td></td>
                  <td><select class="input form-control select-promo"></select></td>
                  <td><input class="input form-control" id="percent" type="text" name="">%</td>
                  
                </tr>
                
                <tr>
                  <td></td>
                  
                  <td colspan="3"><input id="button1" class="input2 form-control" type="submit" name="" value="Save"><input  class="input2 form-control" type="submit" name="" value="Cancel"></td>
                  </tr>
                
              </tbody>
            </table>
            
          </div>

	</div>
	</div>

<p id="reserve">7</p>
<br><br>
<div class="div-content">
	<div id='calendar'></div>
</div>



<script>
function openTab(evt, tabName) {
    
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
	tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
	document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    }
</script>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>



<script type="text/javascript">
$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '2016-12-12',
			navLinks: true, // can click day/week names to navigate views
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2016-12-01'
				},
				{
					title: 'Long Event',
					start: '2016-12-07',
					end: '2016-12-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-12-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-12-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2016-12-11',
					end: '2016-12-13'
				},
				{
					title: 'Meeting',
					start: '2016-12-12T10:30:00',
					end: '2016-12-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2016-12-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2016-12-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2016-12-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2016-12-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2016-12-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2016-12-28'
				}
			]
		});
		
	});

</script>




<script src='../static/js/moment.min.js'></script>
<script src='../static/js/jquery.min.js'></script>
<script src='../static/js/jquery-ui.min.js'></script>
<script src='../static/js/fullcalendar.min.js'></script>




</body>
</html>