<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="../static/banahaw.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Banahaw Heals Spa</a>
        </div>
        
    <div class="container theme-showcase"></div>




    	<script src="jquery.js"></script>
    	<script src="bootstrap.min.js"></script>
</body>
</html>